/*html, body {width: 100%; height: 100%;}*/

@font-face {font-family: "Anisha"; src: url("../fonts/Anisha Free.otf");}
@font-face {font-family: "UniversBO"; src: url("../fonts/UniversLTStd-BoldCnObl.otf");}
@font-face {font-family: "UniversBC"; src: url("../fonts/UniversLTStd-BoldCn.otf");}

body {background-color: #B0C4DE;}

h3 {
	color: white; 
	font-family: "UniversBO"; 
	font-size: 42pt;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

h3:hover {font-family: "Anisha"}


#side-bar ul {
	position: absolute;
	top:1%;
	width: 500px;
	text-align: center; 
	list-style-type: none; 
	margin: 0;
	padding: 0;
	overflow: hidden;}

#side-bar li a {
	float: left;
	display: block;
	padding: 8px; 
	color: black;
	font-family: "UniversBO";}

#side-bar li a:hover {text-decoration: none;}


#key img {
	max-width: 700px;
	position: fixed;
	padding-top: 150px;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#projects ul {
	list-style-type: none;
	width: 400px;
}

#projects {
	list-style-type: none;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-30%, -50%);
}

#projects li a{
	display: block;
	padding: 8px; 
	color: black;
	font-family: "UniversBC";
	font-size: 20pt;
	line-height: 28pt;
}

.left {
	position: absolute;

}

.right {
	position: absolute;
	right: 0%;
}

.work {
	background-color: white;
}

.work h3{
	text-align: center; 
	color: #B0C4DE; 
	font-family: "UniversBO"; 
	font-size: 42pt;
	margin-top: 20px;
}

#projects-type {
	position: absolute;
	display: block;
}


.project-images{
	max-width: 700px;
	display: : inline-block;

}

.extra {
	max-width: 450px;
}


.project-images-width{
	max-width: 1000px;
	left: 50%;
	position: absolute;
	transform: translate(-50%,0);
	z-index: -1;
}

.tombstone{
	position: absolute;
	text-align: left;
	font-family: "UniversBC";
	font-size: 24pt;
	background-color: #B0C4DE;
	border: 5px solid #B0C4DE;
	max-width: 450px;
}

.tombstone.right{
	margin-left: 200px;
}

.tombstone:hover {
	opacity: 0;
}

h4 {
	font-family: "UniversBO"; 
	font-size: 38pt;
	text-align: center;
}

.info {
	font-family: "UniversBC"; 
	font-size: 38pt;
	text-align: center;
}

.info a {
	color: white;
}

.info a:hover{
	font-family: "UniversBO";
}

*,*::before,*::after {box-sizing:border-box;}
body { font-family: sans-serif; line-height: 1; text-align:center;margin-top:300px;}

li a:hover .iframe-preview {
	text-decoration: none;
    opacity:1;
    transform: translateX(-50%) translateY(0) scale(1);
  } 

.iframe-preview {
  opacity:0;
  position: absolute;
  right: -70%;
  top: 0;
  width:230px;
  height:160px;
  border:4px solid #fff;
  overflow-x:hidden;
  overflow-y:auto;
  transform-origin:center bottom;
  transform: translateX(-50%) translateY(10px) scale(.9);
  background-color: white;
}  
  
iframe {
    transform:scale(.2);
    transform-origin:0 0;
  }


@media only screen 
  and (min-device-width: 375px) {
  	h3 {
  		top:50px;
  	}
  }