html, body {width: 100%; height: 100%;}


@font-face {font-family: "UniversBlack"; src: url("../fonts/UniversLTStd-Black.otf");}
@font-face {font-family: "UniversLight"; src: url("../fonts/UniversLTStd-Light.otf");}
@font-face {font-family: "Garamond"; src: url("../fonts/AGaramondPro-Bold.otf");}
 
a{
	text-decoration: none;
	color: #000000;
}
.mario {
  padding-top: 50px;
  height: 100px;
}

.mario div {
  display: block;
  width: 100%;
  height: 75px;
}

.mario p {
  float: left;
  width: 100%;
  font-family: "UniversLight"; 
  font-size: 48px; color:black;
  text-align: center;
}

/*USTEDES*/ 


.marquee2 {
  height: 65pt;
  overflow: hidden;
  position: relative;
}

.marquee2 div {
  display: block;
  width: 250%;
  height: 60pt;
  position: relative;
  overflow: hidden;
  animation: marquee2 6s linear infinite;
}

.marquee2 span{
  padding-top: 10px;
  float: left;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
  width: 200%;
}

@keyframes marquee2 {
  0% { left: 0; }
  100% { left: -100%; }
  /*cambiar el % entre lineas para poder llegar a un efecto más sencillo*/
}

/*NOSOTROS*/ 

.marquee3 {
  height: 50pt;
  overflow: hidden;
  position: relative;
  width: 200%;
  padding: 20px 0;

}

.marquee3 div {
  display: block;
  width: 300%;
  height: 70pt;
  position: absolute;
  overflow: hidden;
  animation: marquee3 8s linear infinite;
}

.marquee3 span {
  float: left;
  width: 500%;
  height: 55pt;
  margin-top: 10pt;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
  display: block;
}

@keyframes marquee3 {
  0% { left: 0; }
  100% { left: -100%; }
}


.uds1{
	font-family: "Garamond";
	font-size: 48pt;
	padding-top: 1em;
	padding-left: 150px;
}	

.uds{
	font-family: "Garamond";
	font-size: 48pt;
	padding-left: 150px;
}	

.uds1:hover{
	text-decoration: underline;
}

.alt {
	font-family: "Garamond";
	font-size: 48pt;
	padding-left: 150px;
	letter-spacing: 0;
	color: #e9e9e9;
	margin: 0px;
}

.alt:hover {
	text-decoration: underline;
}

.uds-bottom{
	font-family: "Garamond";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
	bottom:20%;
	padding-top: 200px;
}


.uds-bottom a {
	color: #000000;
}

.uds-bottom .right {
	padding-right: 250px;
}

.uds-bottom .left{
	padding-left: 250px;
}

.uds-shadow{
	color: #e9e9e9;
}

.uds-dot{
	color: #e9e9e9;
	padding-left: 250px;
}

.nos{
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
}

.nos1{
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
	padding-top: 1em;
}	

.nos1:hover{
	text-decoration: underline;
}

p {
    display: block;
    margin: 0em;
    margin-after:  0em;
    margin-start: 0px;
    margin-end: 0px;
}

.alt2 {
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
	letter-spacing: 0;
	color: #e9e9e9;
	top: ;
}

.alt2:hover {
	text-decoration: underline;
}

.nos-bottom{
	padding-top: 200px;
	font-family: "UniversBlack";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.nos-bottom a {
	color: #000000;
}


.nos-bottom .right {
	padding-right: 250px;
}

.nos-bottom .left{
	padding-left: 250px;
}

.nos-shadow{
	color: #e9e9e9;
}

.dot{
	color: #000000;
	padding-left: 230px;

}

.about{
	padding-top: 200px;
	text-align: center;

}

.about span{
	padding-top: 150px;
	font-family: "UniversBlack";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #e9e9e9;
}

.about:hover span{
	text-decoration: underline;
}

h1 {
	padding-left: 250px;
	padding-top: 50px;
	font-family: "UniversBlack";
	font-size: 48px;
}

.info {
	font-family: "UniversLight";
	font-size: 24pt;
	padding-left: 250px;
	padding-right: 200px;
	letter-spacing: 0;
}

.marquee-uds {
  height: 70pt;
  overflow: hidden;
  position: relative;
  width: 300%;
}

.marquee-uds div {
  display: block;
  width: 250%;
  height: 65pt;
  position: absolute;
  overflow: hidden;
  animation: marquee4 14s linear infinite;
}

.marquee-uds span {
  padding-top: 20px;	
  float: left;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
}

@keyframes marquee4 {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-nos {
  height: 70pt;
  overflow: hidden;
  position: relative;
  width: 300%;
}

.marquee-nos div {
  display: block;
  width: 250%;
  height: 55pt;
  position: absolute;
  overflow: hidden;
  animation: marquee5 18s linear infinite;
}

.marquee-nos span {
  padding-top: 20px;  
  float: left;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
}


@keyframes marquee5 {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-nos2 {
  height: 70pt;
  overflow: hidden;
  position: relative;
  width: 300%;
}

.marquee-nos2 div {
  display: block;
  width: 250%;
  height: 55pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 22s linear infinite;
}

.marquee-nos2 span {
  padding-top: 20px;  
  float: left;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


.marquee-nos3 {
  height: 70pt;
  overflow: hidden;
  position: relative;
  width: 300%;
}

.marquee-nos3 div {
  display: block;
  width: 250%;
  height: 55pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 13s linear infinite;
}

.marquee-nos3 span {
  padding-top: 20px;  
  float: left;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-nos4 {
  height: 70pt;
  overflow: hidden;
  position: relative;
  width: 300%;
}

.marquee-nos4 div {
  display: block;
  width: 250%;
  height: 55pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

.marquee-nos4 span {
  padding-top: 20px;  
  float: left;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-uds {
  height: 50pt;
  overflow: hidden;
  position: relative;
  width: 200%;
  padding: 20px 0;

}

.marquee-uds div {
  display: block;
  width: 300%;
  height: 70pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 8s linear infinite;
}

.marquee-uds span {
  float: left;
  width: 500%;
  height: 55pt;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
  display: block;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


.marquee-uds2 {
  height: 50pt;
  overflow: hidden;
  position: relative;
  width: 200%;
  padding: 20px 0;

}

.marquee-uds2 div {
  display: block;
  width: 300%;
  height: 70pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 18s linear infinite;
}

.marquee-uds2 span {
  float: left;
  width: 500%;
  height: 55pt;
  margin-top: 10pt;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
  display: block;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


.marquee-uds3 {
  height: 50pt;
  overflow: hidden;
  position: relative;
  width: 200%;
  padding: 20px 0;

}

.marquee-uds3 div {
  display: block;
  width: 300%;
  height: 70pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 13s linear infinite;
}

.marquee-uds3 span {
  float: left;
  width: 500%;
  height: 55pt;
  margin-top: 10pt;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
  display: block;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-uds4 {
  height: 60pt;
  overflow: hidden;
  position: relative;
  width: 200%;
  padding: 20px 0;

}

.marquee-uds4 div {
  display: block;
  width: 300%;
  height: 75pt;
  position: absolute;
  overflow: hidden;
  animation: marquee 21s linear infinite;
}

.marquee-uds4 span {
  float: left;
  width: 500%;
  height: 55pt;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
  display: block;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}



.index2{
	padding-top: 100px;
	font-family: "UniversBlack";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.index3{
	padding-top: 30px;
	font-family: "Garamond";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

