html, body {width: 100%; height: 100%;}

@font-face {font-family: "UniversBlack"; src: url("../fonts/UniversLTStd-Black.otf");}
@font-face {font-family: "UniversLight"; src: url("../fonts/UniversLTStd-Light.otf");}
@font-face {font-family: "Garamond"; src: url("../fonts/AGaramondPro-Bold.otf");}
 
a{
	text-decoration: none;
	color: #000000;
}
.mario {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.mario div {
  display: block;
  width: 100%;
  height: 75px;
  position: absolute;
  overflow: hidden;
}

.mario p {
  float: left;
  width: 100%;
  font-family: "UniversLight"; 
  font-size: 48px; color:black;
}

/*USTEDES*/ 

.marquee2 {
/*  height: 300px;*/
  overflow: hidden;
  position: relative;
  width: 200%;
}

.marquee2 div {
  display: block;
  width: 100%;
/*  height: 300px;*/
  position: relative;
  overflow: hidden;
  animation: marquee 8s linear infinite;
}
.marquee2 p {
  float: left;
  width: 50%;
  font-family: "Garamond"; 
  font-size: 48pt; color:black;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: 100%; }
}

/*NOSOTROS*/ 

.marquee3 {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.marquee3 div {
  display: block;
  width: 200%;
  height: 300px;
  position: absolute;
  overflow: hidden;
  animation: marquee 8s linear infinite;
}

.marquee3 p {
  float: left;
  width: 50%;
  font-family: "UniversBlack"; 
  font-size: 48pt; color:black;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee3 {
	margin-left: -20%;
}


.uds1{
	font-family: "Garamond";
	font-size: 48pt;
	padding-top: 1em;
	padding-left: 150px;
}	

.uds{
	font-family: "Garamond";
	font-size: 48pt;
	padding-left: 150px;
}	

.uds1:hover{
	text-decoration: underline;
}

.alt {
	font-family: "Garamond";
	font-size: 48pt;
	padding-left: 150px;
	letter-spacing: 0;
	color: #E9E9E9;
	margin: 0px;
}

.alt:hover {
	text-decoration: underline;
}

.uds-bottom{
	font-family: "Garamond";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
	bottom:20%;
	padding-top: 200px;
}


.uds-bottom a {
	color: #000000;
}

.uds-shadow{
	color: #E9E9E9;

}

.nos{
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
}

.nos1{
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
	padding-top: 1em;
}	

.nos1:hover{
	text-decoration: underline;
}

p {
    display: block;
    margin: 0em;
    margin-after:  0em;
    margin-start: 0px;
    margin-end: 0px;
}

.alt2 {
	font-family: "UniversBlack";
	font-size: 48pt;
	padding-left: 150px;
	letter-spacing: 0;
	color: #E9E9E9;
	top: ;
}

.alt2:hover {
	text-decoration: underline;
}

.nos-bottom{
	padding-top: 200px;
	font-family: "UniversBlack";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.nos-bottom a {
	color: #000000;
}

.nos-shadow{
	color: #E9E9E9;

}

.dot{
	color: #000000;

}

.about{
	padding-top: 200px;
	text-align: center;

}

.about span{
	padding-top: 150px;
	font-family: "UniversBlack";
	font-size: 48px;
	letter-spacing: 0;
	text-decoration: none;
	color: #E9E9E9;
}

.about:hover span{
	text-decoration: underline;
}

h1 {
	padding-left: 250px;
	padding-top: 50px;
	font-family: "UniversBlack";
	font-size: 48px;
}

.info {
	font-family: "UniversLight";
	font-size: 24pt;
	padding-left: 250px;
	padding-right: 200px;
	letter-spacing: 0;
}


