x/*html, body {width: 100%; height: 100%;}*/

html, h1, h2, h3, h4, h5, h6, p, div, span, img, ul, li, select{
	padding: 0;
	margin: 0;
}

@font-face {font-family: "Body"; src: url("../fonts/AkzidenzGrotesk-LightExtended.otf");}
@font-face {font-family: "Italic"; src: url("../fonts/AkzidenzGrotesk-LightExtendedItalic.otf");}

body {
	background-color: #f2f2f2;
/*	background-color: #faf9f7;*/
	overflow-y: hidden;
	overflow-x: hidden;
}


#header{
	position: fixed;
	top: 0;
	left: 1vw;
	width: 50vw;
	font-family: "Body"
}

#header h1{
	letter-spacing: 5pt;
}

#info {
	position: fixed;
	position: absolute;
	top:1vh;
	right: 1vw;
}

#info img{
	width: 3vw;
}

#footer{
	width: 5vw;
	position: fixed;
	bottom: 3vh;
	right: 2vw;
}

.title{
	width: 25vw;
}

.desc{
	width: 5vw;
	padding-top: 2vh;  
}

.draggable{
	touch-action: none;
  	user-select: none;
/*  	max-height: 15%;*/
	z-index: -1;
	float:none;
}

.background{
	max-width: 45%;
}

.flower{
/*	position: absolute;
	top: 0;
	right: 0*/
}

#nav{
	position: absolute;
	top: 50%;
}

#nav img{
	max-width: 5vw;
}

#library{
	position: fixed;
	top: 7vh;
	width: 26vw;
	height: 90vh;
	background-color: white;
	opacity: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
	animation: showing 2s
}

@keyframes showing{ 
  0% { 
  		opacity: 0;
  		width: 0vw;
   } 
  100% { 
  	opacity: 0.9; 
  	width: 26vw;
  } 
}

#library img{
	max-width: 6vw;
	padding: 1vw; 
	opacity: 1;
}

#library::-webkit-scrollbar {
  height:7px;
}

#library::-webkit-scrollbar-track {
    background-color: rgba(12,12,12,0.1);
}

#library::-webkit-scrollbar-thumb {
  background-color: #d6a5a0;
}

.navigation{
	position: absolute;
	right: 0;
}

#information{
	font-family: "Body";
	font-size: 1.5em;
	position: absolute;
	top: 20vh;
	left: 5vw;
		display:none;
}

#information p{
	width: 75%;
	padding-top: .5em;
	font-size: 1em;
	line-height: 1.25em;


}


