@font-face {font-family: "Futura"; src: url("../fonts/Futura-Medium.woff");}
@font-face {font-family: "Campaign"; src: url("../fonts/Futura-Medium.woff");}

html, body,{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}


#bar {
	position: fixed;
}

.header img{
	position: relative;
	width: 220px;
	padding-top: 5%;
	padding-left: 5%;
}

#side-bar ul {
	position: relative;
	padding-top: 70px;
	left: 3%;
}

#side-bar li a {
	float: left;
	padding-left: 20px; 
	color: black;
	font-family: 'Cousine', monospace;
	letter-spacing: 0;
	line-height: 32px;
}

#side-bar li a:hover {
	text-decoration: underline;
	font-family: 'Cousine-Bold', monospace;
}


.wrapper{
	font-family: 'Open Sans', sans-serif;
	
}

.box {
	float: left;
	position: absolute;
	top: 50%;
	left: 20%;
	width: 1100px;
	height: 490px;
	background-color: blue;
	z-index: -1;
}

.text {
	font-size: 40px;
	max-width: 900px;
	letter-spacing: 0;
	line-height: 55px;
}

.bold {
		font-family: 'OpenSans-Bold', sans-serif;
}

.desc {
	font-size: 20px;
}

#about {
	position: absolute;
	top: 25%;
	left: 20%;
}

.phrase {
	position: absolute;	
	display: flex;
	top: 155%;
	width: 100%;
	height: 110%;
	background-color: red;
	z-index: -1;

}

.highlight {
	font-size: 144px;
	align-self: flex-end;
	margin-left: 200px;
}

.description {
	position: absolute;
	top: 300%;
	left: 20%;
}

.two {
	top: 310%;
}

#services {
	position: absolute;	
	left: 20%;
	top: 405%;

}

.alt {
	padding-top: 510px;
	font-size: 72px;	
}

.list {
	padding-left: 30px;
	font-size: 72px;
}

.column {
    float: left;
    width: 50%;
    margin: 0;
    padding: 20px;
}    

.block{
	width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 300px;}


