html, h1, h2, h3, h4, h5, h6, p, div, span, img, ul, li, select,  {
	padding: 0;
	margin: 0;
}

@font-face {font-family: "AG-BO"; src: url("../fonts/AkzidenzGrotesk-BoldCondItalic.otf");}
@font-face {font-family: "AG-BC"; src: url("../fonts/AkzidenzGrotesk-BoldCond.otf");}
@font-face {font-family: "AG-C"; src: url("../fonts/AkzidenzGrotesk-Cond.otf");}
@font-face {font-family: "Title"; src: url("../fonts/AkzidenzGrotesk-LightCondItalic.otf");}
@font-face {font-family: "AG-LC"; src: url("../fonts/AkzidenzGrotesk-LightCond.otf");}

body{
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	background-color: rgb(205,209,209);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	background-image: none;
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
}

#header{
	text-align: left;
	font-family: "AG-BO"; 
	z-index: 1;
	margin-left: 2em;
	margin-top: 2em;
}

#header h1 a{
	font-size: 2em;
	margin-block-start: 0;
	margin-block-end: 0;
	text-decoration: none;
	color: white;
}

#header h1 a:hover {
	color: slateblue
}

.sticky{
	position: fixed;
	opacity: .2;
}

.sticky:hover {
	color: slateblue;
	opacity: .7;
	text-decoration: underline wavy;

}

/*shown on picture index*/

#click-img {
	position: fixed;
	bottom: 0vh;
	right: 0vw;
	height: 120px;
	width: 120px;
}


#picture-content{
	height: 50vh;
	padding-top: 5vh;
	margin-left: 2em;
}

#picture-content img {
	max-width: 60vw;
	max-height: 60vh;
	padding-bottom: 5vh;
	margin: 0 2vw 0 0;
}

#picture-content h1{
	font-family: "AG-LC";
	font-size: 3em;
	text-decoration: none;
	margin:0;
	color:SteelBlue;
}

#picture-content p {
	font-family: "AG-LC";
	font-size: 1.5em;
	width: 75vw;
	text-decoration: none;
	margin: 0;
	padding-bottom: 2vh;
}

#picture-content a {
	text-decoration: none
}

#picture-content a :hover {
	text-decoration: underline;
	color: white;
}

.horizontal{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
 } 

.horizontal:hover{
	cursor: ew-resize;
} 

.horizontal::-webkit-scrollbar {
  height:7px;
}

.horizontal::-webkit-scrollbar-track {
    background-color: rgba(12,12,12,0.1);
}

.horizontal::-webkit-scrollbar-thumb {
  border: 7px dashed rgba(70,130,180,0.8);
}


#footer{
	position: fixed;
	bottom: -1vh;
	margin-left: 1em;
	opacity: .5
}

#other {
	width: 100vw;
	position: absolute;
	padding-bottom: 5vh; 
	left: 2em;
}
button {
	background-color: white;
	font-size: 1.5em;
	font-family: "AG-BC";
	width: 12vw;
	border-color: white;
}

button:hover {
	background-color: #9999CC;
}

button:hover a{
	color: white;
}

/*mobile*/

@media only screen 
  and (min-device-width: 320px)
    and (max-device-width: 650px)  {

  	#content {
  		font-family:"AG-C";
  	}

  	#wrapper p {
  		font-family:"AG-C";
  	}

  	#title h4 {
  		font-family:"AG-C";
  	}

  	#circle-picture {
  		width: 100px;
  		height: 100px;
  	}

  	#counter-picture{
  		bottom: 2vh;
  		right: 8vw;
  		font-size: 1.5em
  	}

  	#picture-view img{
  		max-width: 15vw;
  	}
  	#picture-view p{
  		font-size: 2em
  	}

  	#text-view img{
  		max-width: 15vw;
  	}

  	#text-view p{
  		font-size: 2em
  	}

  	#picture-content h1 {
    	font-family: "AG-C";
    	font-size: 3em;
 	}

  	#click-image p{
  		font-size: 1.5em;
  		bottom: 4vh;
  		right: 2vw;
  	}

	#picture-content img{

  		max-height: 20vh;
  	}

  	#starshine {
  		height: 100vh;
  	}

  	.proj{
  		left: 50vw;
  		top: 15vh;
  	}

  	.proj-frame{
		position: relative;
		width: 45vw;
		height: 20vh;
		padding-bottom: 1vh;
	}

  }

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  	#header h1{
  		font-size: 6em;
  	}

  	#content {
  		font-family:"AG-C";
  	}

  	#content h2{
  		font-size: 3.5em;
  	}

  	#title h4 {
  		font-family:"AG-C";
  	}

  	#wrapper p h4{
  		font-family:"AG-C";
  	}

  	#location{
  		opacity: 1;
  		width: 30vw;
  	}

  	#circle-picture {
  		width: 100px;
  		height: 100px;
  	}

  	#counter-picture{
  		bottom: 2vh;
  		right: 8vw;
  		font-size: 1.5em
  	}

  	#picture-view img{
  		max-width: 15vw;
  	}

  	#picture-view p{
  		font-size: 2em
  	}

  	#text-view img{
  		max-width: 15vw;
  	}

  	#text-view p{
  		font-size: 2em
  	}

  	#picture-content a{
  		font-size: 2em
  	}

  	#click-image p{
  		font-size: 1.5em;
  		bottom: 4vh;
  		right: 2vw;
  	}

  	#picture-content img{
  		max-height: 20vh;
  	}

  /*	#picture-content .image {
  		width: 80vw;
  		height: 35vh;
  		margin-left: 3vw;
  	}

  	#picture-content img{
  		max-width: 80vw;
  	}*/

  	#picture-content h1 {
    	font-family: "AG-C";
    	font-size: 3em;
 	}

  	#footer {
  		bottom: 0;
  	}

  	#header h2 a {
  		font-size: 2em;
  	}

  	#title h2{
  		font-size: 6em
  	}

  	#title h4{
  		font-size: 3em;
  	}

  	button {
  		font-size: 2em;
  		width: 21vw;
  	}

  	#wrapper p{
  		font-size: 3em;
  		max-width: 65vw;
  	}

  	#wrapper .min{
  		max-width: 75vw;
  	}

  	.next {
  		width: 20vw;
  		margin-right: 2em;
  	}

  	.next h2{
  		font-size: 3em;
  	}

  	#starshine {
  		height: 100vh;
  	}

  	.proj{
  		left: 50vw;
  		top: 15vh;
  	}

  	.proj-frame{
		position: relative;
		width: 45vw;
		height: 20vh;
		padding-bottom: 1vh;
	}

}

#starshine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  z-index: -1;
  overflow: hidden;
}    
    
.shine {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/star2.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 2;
  color: tansparent;
  -moz-opacity: 0.0;
  opacity: 0.0;
  
}

.shine.small {
  width: 16px;
  height: 16px;
  animation: glitter 6s linear 0s infinite normal;
  -webkit-animation: glitter 6s linear 0s infinite normal;
  -moz-animation: glitter 8s linear 0s infinite normal;
  -ms-animation: glitter 8s linear 0s infinite normal;
  -o-animation: glitter 8s linear 0s infinite normal;
}

.shine.medium {
  width: 18px;
  height: 18px;
  animation: glitter 14s linear 0s infinite normal;
  -webkit-animation: glitter 14s linear 0s infinite normal;
  -moz-animation: glitter 18s linear 0s infinite normal;
  -ms-animation: glitter 18s linear 0s infinite normal;
  -o-animation: glitter 18s linear 0s infinite normal;
}

.shine.large {
  width: 20px;
  height: 20px;
    animation: glitter 3s linear 0s infinite normal;
  -webkit-animation: glitter 3s linear 0s infinite normal;
  -moz-animation: glitter 5s linear 0s infinite normal;
  -ms-animation: glitter 5s linear 0s infinite normal;
  -o-animation: glitter 5s linear 0s infinite normal;
}


.shine.smallMobile {
  width: 35px;
  height: 35px;
  animation: glitter 6s linear 0s infinite normal;
  -webkit-animation: glitter 6s linear 0s infinite normal;
  -moz-animation: glitter 8s linear 0s infinite normal;
  -ms-animation: glitter 8s linear 0s infinite normal;
  -o-animation: glitter 8s linear 0s infinite normal;
}

.shine.mediumMobile {
  width: 50px;
  height: 50px;
  animation: glitter 14s linear 0s infinite normal;
  -webkit-animation: glitter 14s linear 0s infinite normal;
  -moz-animation: glitter 18s linear 0s infinite normal;
  -ms-animation: glitter 18s linear 0s infinite normal;
  -o-animation: glitter 18s linear 0s infinite normal;
}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1) ;
    opacity: .4;
  }
  50% {
    -webkit-transform: scale(0.3)rotate(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}