/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */

.table {
	position: absolute;
	left: 30%;
	top: 20%;
	width: 50%;
	height: 50%;
	background:AliceBlue;
	clip-path: polygon(52% 31%, 100% 38%, 58% 82%, 0 72%);
}

.fabric {
	position: absolute;
	left: 19%;
	top: 50%;
	width: 40%;
	height: 50%;
	background:AliceBlue;
	clip-path: polygon(25% 14%, 100% 24%, 100% 100%, 24% 100%);
}

.fabric-back {
	position: absolute;
	left: 52%;
	top: 32%;
	width: 30%;
	height: 37%;
	background:black;
	clip-path: polygon(25% 14%, 88% 20%, 100% 100%, 24% 100%);
}

.leg {
	position: absolute;
	right: 22%;
	top: 42%;
	width: 2%;
	height: 57%;
	background: gray;
}	

.books {
	top: 33%;
	left: 40%;
	position: absolute;
}

.book-top{
	width: 13%;
	height: 13%;
	background:AliceBlue;
	clip-path: polygon(52% 31%, 100% 38%, 58% 82%, 0 72%);
	background: repeating-linear-gradient(120deg, OrangeRed,blue 7%);
}

.book-middle{
	top: 39%;
	width: 9%;
	height: 13%;
	background-color: white;
	border-color: gray;
}


.vase {
	z-index: 1;
	position: absolute;
	top: 27%;
	left: 47%;
   width: 6%;
   height: 10%;
   border-radius: 50%;
   background: linear-gradient(gray 15%, white 10%, gray);
}

.flor {
	width: 4%;
	height: 2%;
	background: #DDA0DD;
	border-radius: 80%;
	position: absolute;
}

.flower {
	top: 23%;
	left: 45%;
	opacity: 0.5;
	transform: rotate(42deg);
}
.flower2 {
	transform: rotate(17deg);
	top: 25%;
	left: 45%;
}

.flower3 {
	transform: rotate(-43deg);
	top: 23%;
	left: 49.5%;
	opacity: 0.6;
}
.flower4 {
	transform: rotate(-20deg);
	top: 25%;
	left: 50%;
}

.flower5 {
	transform: rotate(70deg);
	top: 23%;
	left: 47%;
}

